<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>BRISA</title>
</head>
<body>
 <h1>MENU TP01 :) Son 12 puntos (menos 5 y 7) </h1>
     <ul>
     <li><a href="calculoFactorial?num1=6">Factorial</a></li>
     <li><a href="calculoBisiesto?num1=2020">Bisiesto</a></li>
     <li><a href="calculoPar?num1=5">Saber si es Par</a></li>
     <li><a href="calculoMes?num1=8">Saber Mes</a></li>
     <li><a href="calculoAlumno?num1=7">Calificacion de un Alumno</a></li>
     <li><a href="calculoMultiplos?num1=7">Multiplos</a></li>
     <li><a href="calculoF?num1=360">For</a></li>
     <li><a href="calculoW?num1=360">While</a></li>
     <li><a href="calculoD?num1=360">Do--While</a></li>
     <li><a href="calculoTiempo?num1=3">Formula</a></li>
     </ul>
</body>
</html>